<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div>
          <mat-card class="result item-align-center">
            <h2>Let's pick items to continue</h2><hr>
            <div class="row">
              <div class="col-md-4" *ngFor="let item of items">
                <div class="pad-10 card">
                  <div class="card-body">
                    {{item.name}}
                  </div>
                </div>
              </div>
              
            </div>
          </mat-card>
        </div>
        </div>
    </div>
  </div>
</div>

