<app-nav-bar></app-nav-bar>
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div>
          <mat-card class="result item-align-center">
            <div class="row">
              <div class="col-md-9 ">
                <h2>Let's pick items to continue</h2>
              </div>
              <div class="col-md-3 align-right">
                <button mat-button (click)="showCart()">
                  {{getCartItemCount()}}
                  <mat-icon>shopping_cart</mat-icon>
                  | Open cart
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="example-form-field">
                  <mat-label>Search Items</mat-label>
                  <input matInput type="text" [(ngModel)]="filter" (keydown.enter)="save($event)" >
                  <button mat-button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="filter=''">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4" *ngFor="let item of items">
                <item [item]="item"></item>
              </div>
            </div>
          </mat-card>
        </div>
        </div>
    </div>
  </div>
</div>

