/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.v-align-middle {
    vertical-align: center !important;
}
